{% extends 'base/core.html' %}

{% block content %}

<header class="masthead" style="background-image: url('/static/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Lorem ipsum dolor sit amet.</h1>
            <h2 class="subheading">Lorem ipsum dolor sit.</h2>
            <span class="meta">Posted by
              <a href="#">Fazilet Taş</a>
               Ağustos 24, 2019</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis!</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo molestias, quam.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>

          <h2 class="section-heading">Lorem ipsum dolor.</h2>

          <p>Lorem ipsum dolor sit amet, consectetur.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

          <blockquote class="blockquote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem eum, facilis fuga molestias quibusdam rem!</blockquote>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

          <h2 class="section-heading">Lorem ipsum dolor sit amet.</h2>

          <p>Lorem ipsum dolor sit.</p>

          <a href="#">
            <img class="img-fluid" src="img/post-sample-image.jpg" alt="">
          </a>
          <span class="caption text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing.</span>

          <p>Lorem ipsum dolor sit amet, consectetur.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus error fuga laboriosam perspiciatis, vero voluptates.</p>

          <p>Lorem ipsum.
            <a href="http://spaceipsum.com/">Space Ipsum</a>. Lorem.
            <a href="https://www.flickr.com/photos/nasacommons/">Lorem ipsum dolor.</a></p>
        </div>
      </div>
    </div>
  </article>

  <hr>
{% endblock %}