{% extends 'base/core.html' %}

{% block content %}

<header class="masthead" style="background-image: url('/static/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">

            <h2 class="subheading"></h2>
            <span class="meta">
              <a href="#"></a>
               </span>
          </div>
        </div>
      </div>
    </div>
  </header>


  <!-- Post Content -->
  <article>
 {% for post in posts %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">

            <h2 class="post-title">
               {{ post.title }}
            </h2>
            <p class="post-subtitle">
                {{ post.text }}
            </p>

          <p class="post-meta">Posted by
            <a href="/page/about">{{ post.author }}</a>
            {{ post.published_date}}</p>
        </div>
 </div>
</div>
    <hr>
{% endfor %}
       <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
      <div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?sayfa=1">&laquo; ilk</a>
            <a href="?sayfa={{ contacts.previous_page_number }}">önceki</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?sayfa={{ posts.next_page_number }}">sonraki</a>
            <a href="?sayfa={{ posts.paginator.num_pages }}">son &raquo;</a>
        {% endif %}
    </span>
</div>
  </div>
       </div>
  </div>

  </article>


{% endblock %}