{% extends 'base/core.html' %}

{% block content %}

<header class="masthead" style="background-image: url('/static/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">

            <h2 class="subheading"></h2>
            <span class="meta">
              <a href="#"></a>
               </span>
          </div>
        </div>
      </div>
    </div>
  </header>


  <!-- Post Content -->
  <article>
 {% for post in posts %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">

            <h2 class="post-title">
               {{ post.title }}
            </h2>
            <p class="post-subtitle">
                {{ post.text }}
            </p>

          <p class="post-meta">Posted by
            <a href="/page/about">{{ post.author }}</a>
            {{ post.published_date}}</p>
        </div>
 </div>
</div>
    <hr>
{% endfor %}
  </div>
  </article>


{% endblock %}